__pycache__/
__pypackages__/
_.py
!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!**/docs/wpimages/**/*
!**/docs/wpscripts/**/*
!**/test-doc/wpimages/**/*
!**/test-doc/wpscripts/**/*
!**/wpscripts/wpstyles.css
!docs/index.wpp
.~lock.*#
.cache
.cache/
.coverage
.coverage.*
.directory
.dmypy.json
.docusaurus
.DS_Store
.dynamodb/
.eggs/
.env*
.env.backup
.env.development.local
.env.local
.env.production.local
.env.test.local
.env*.local
!.env.example
.eslintcache
.fuse_hidden*
.fusebox/
.grunt
.history/
.hypothesis/
.idea
.installed.cfg
.ipynb_checkpoints
.lock-wscript
.mypy_cache/
.next
.nfs*
.node_repl_history
.nox/
.npm
.nuxt
.nyc_output
.output/
.parcel-cache
.pdm.toml
.phpunit.result.cache
.pnp.*
.pnp.js
.pnpm-debug.log*
.pybuilder/
.pyre/
.pytest_cache/
.Python
.pytype/
.ropeproject
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.sass-cache/
.scrapy
.serverless/
.spyderproject
.spyproject
.ssh
.stylelintcache
.temp
.tern-port
.tox/
.Trash-*
.venv
.vercel
.vscode-test
.vscode/*
.vuepress/dist
.webassets-cache
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
[Dd]esktop.ini
*.~vsd*
*.bak
*.cab
*.cover
*.css.map
*.egg
*.egg-info/
*.lcov
*.lnk
*.local
*.log
*.manifest
*.mo
*.msi
*.msix
*.msm
*.msp
*.njsproj
*.ntvs*
*.pem
*.pid
*.pid.lock
*.pot
*.py,cover
*.py[cod]
*.sage.py
*.sass.map
*.scss.map
*.seed
*.sln
*.so
*.spec
*.stackdump
*.suo
*.sw?
*.template.txt
*.tgz
*.tmp
*.tsbuildinfo
*.vsix
*.xlk
**/supabase/.branches
**/supabase/.temp
**/wpimages/**/*
**/wpscripts/**/*
*~
*$py.class
*error.log
/.idea
/.next/
/.pnp
/.vagrant
/.vscode
/build
/coverage
/node_modules
/out/
/public/hot
/public/storage
/site
/storage/*.key
/vendor
/vendor/
~$*.doc*
~$*.ppt*
~$*.xls*
$RECYCLE.BIN/
app/storage/
Backup of *.doc*
bootstrap/compiled.php
bower_components
build/
build/Release
celerybeat-schedule
celerybeat.pid
components/temp.jsx
components/z.jsx
composer.phar
cover/
coverage
coverage.xml
cython_debug/
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist
dist-ssr
dist/
dmypy.json
docs/
downloads/
eggs/
ehthumbs_vista.db
ehthumbs.db
env.bak/
env/
ENV/
handle-upload.txt
Homestead.json
Homestead.yaml
htmlcov/
instance/
ipython_config.py
jspm_packages
jspm_packages/
lerna-debug.log*
lib-cov
lib/
lib64/
local_settings.py
logs
MANIFEST
next-env.d.ts
node_modules
node_modules/
nosetests.xml
npm-debug.log
npm-debug.log*
out
out.pdf
package-lock.json
parts/
pids
pip-delete-this-directory.txt
pip-log.txt
pnpm-debug.log*
profile_default/
public_html/hot
public_html/storage
public/hot
public/storage
redis.conf
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
restapi--express/storage
sdist/
share/python-wheels/
src/style/build.css
src/styles/build.css
storage/*.key
styles/build.css
target/
temp
tests/fixture
Thumbs.db
Thumbs.db:encryptable
var/
vars.ts
venv.bak/
venv/
web_modules/
wheels/
yarn-debug.log*
yarn-error.log
yarn-error.log*
api/storage/
scp-config.sh
mod.py
