
// https://codepen.io/devstreak/pen/dMYgeO

$scrollbar-thin-width: .2rem;
$scrollbar-thin-color: #333;
$scrollbar-thin-light-color: #6C6C6C;

.scrollbar-thin::-webkit-scrollbar-track,
.scrollbar-thin-light::-webkit-scrollbar-track
{
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar,
.scrollbar-thin-light::-webkit-scrollbar
{
  width: $scrollbar-thin-width;
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb
{
  background-color: $scrollbar-thin-color;
}
.scrollbar-thin-light::-webkit-scrollbar-thumb
{
  background-color: $scrollbar-thin-light-color;
}
